@import '../../../styles/variablse';
@import '../../../styles/mixins';

.watch {
  background: #16181E;
  max-width: 1220px;
  width: 100%;
  color: $white;
  margin: 0 auto;

  &__container {
    @include d-flex(null, space-between, null);
    padding: 40px 20px;
  }

  &__image {
    width: 300px;
    height: 360px;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 10px 0 40px;
  }

  &__article {
    max-width: 780px;
    overflow-wrap: break-word;
    line-height: 28px;
    font-size: 1.2rem;
    background: linear-gradient(blue, 10%, pink);
  }

  &__youtube {
    padding: 0 20px;
  }
}